#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/makefile.mk
#Added simple-patchsys for Kubuntu
#include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DESTDIR=DESTDIR=$(CURDIR)/debian/tmp/
DEB_BUILD_OPTIONS=nostrip

#DEB_MAKE_ENVVARS += INSTALL_ROOT=debian/tmp/
DEB_MAKE_INSTALL_TARGET = install $(DEB_DESTDIR)

configure:
	mkdir -p build
	cd build && \
	$(DEB_DESTDIR) \
	cmake ../ \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX="/usr/" \
		-DSYSCONF_INSTALL_DIR="/etc" \
		-DPROJECT_STATE_DIR="/var/run/"

build: configure
	dh_testdir
	cd build && $(MAKE)

install: build
	dh_testdir
	dh_testroot
	cd build && $(MAKE) $(DEB_MAKE_INSTALL_TARGET)

binary-indep:
	dh_testdir
	dh_testroot
	dh_installdirs -a
	dh_installdocs -a
	dh_installdebconf -a
	dh_installman -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_gencontrol -a

binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdebconf
	dh_installlogrotate
	dh_installdirs -a
	dh_installinit -R --init-script=pdns-logger
	dh_install
	#dh_installchangelogs -a ChangeLog
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
	dh_gencontrol


binary: binary-arch binary-indep
	dh_md5sums
	dh_builddeb

clean:
	rm -f debian/stamp-patched
	rm -rf build
	dh_clean
